.input-container {
    position: relative;
  }
  
  .clear-button {
    position: absolute;
    top: 96px;
    right: 644px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("cross-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .clear-button:hover {
    opacity: 1; 
  }
  /* .me-5 {
    margin-right: -82rem !important;
  } */